body {
    background-color: #dbdbdb;
}

#header {
    background-image: url('images/symbols-smaller.jpg');
}

#footer {
    
    background-image: url('images/symbols.jpg');
}

/*#header h1 {
    color: #111111;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
    
}
 #header p {
     color: #111111;
    font-weight: bold;
 }*/

#addNewHouseButton {
   margin-left: 10px;
    float: left;
}

