body {
    background-color: #dbdbdb;
    background-image: url('images/the-throne.jpg');
    background-position: 0px 180px; 
}

#header {
    background-image: url('images/gothead2.1.jpg');
    margin-bottom: 0px;
}

#footer {
    text-align: center;
    color: lightslategray;
    background-image: url('images/symbols.jpg');
}

#houseInputs label {
    color:whitesmoke;
}

#lordBackground p {
    color: floralwhite;
}

#lordBackground, #houseInputs{
    padding: 10px;
    background-color: black;
}

#saveHouse {
    color: white;
    background-color: #4d0000;
}
/*#header h1 {
    color: #111111;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
    
}
 #header p {
     color: #111111;
    font-weight: bold;
 }*/

